@use './styles/variables.scss' as var;
@import './styles/null.scss';
@import './styles/mixins.scss';

body {
	color: var.$blackColor;
	&._lock {
		overflow: hidden;
	}
}
//===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
//===========================================================================================================
._container {
	max-width: var.$maxWidthContainer + px;
	margin: 0 auto;
	@media (max-width: var.$md1+px) {
		max-width: 970px;
	}
	@media (max-width: var.$md2+px) {
		max-width: 750px;
	}
	@media (max-width: var.$md3+px) {
		max-width: none;
		padding: 0 10px;
	}
}
//====================================================================================================
//====================================================================================================
.page {
	flex: 1 1 auto;
}
