@use '../../styles/variables.scss' as var;
@import '../../styles/mixins.scss';

.footer {
  background-color: var.$blackColor;
  color: var.$whiteColor;
  &__container {
    height: 209px;
    line-height: 120%;
    @include adaptiv-value("font-size", 24, 12, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__title {
    font-size: var.$fontSizeTitle;
    height: 40px;
    width: 122px;
  }
  &_link {
    display: flex;
    align-items: center;
  }
  &_svg {
    transform: translateY(4px);
  }
}