@use '../../styles/variables.scss' as var;
@import '../../styles/mixins.scss';

.header {
  @include adaptiv-value("height", 126, 84, 1);
  background-color: var.$whiteColor;
  color: var.$redColor;
  display: flex;
  flex-direction: row;
  align-items: center;
  &__container {
    @include adaptiv-value("height", 68, 48, 1);
    @include adaptiv-value("margin-top", 40, 20, 1);
    @include adaptiv-value("margin-bottom", 40, 20, 1);
    line-height: 120%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    &-flex {
      display: flex;
      flex-direction: row;
    }
  }
  &__title {
    font-size: 92px;
    font-weight: var.$fontMedium;
    &-link {
      display: flex;
      align-items: flex-start;
      color: var.$redColor
    }
    &-svg {
      transform: translateY(4px);
      height: 56px;
      @media (max-width: var.$md3+ px) {
        height: 36px;
      }
    }
    @media (max-width: var.$md3+ px) {
      font-size: 60px;
    }
    @media (max-width: var.$md5+ px) {
      font-size: 40px;
    }
  }
  &__text {
    @include adaptiv-value("font-size", 24, 12, 1);
    @include adaptiv-value("margin-left", 56, 10, 1);
    color: var.$redColor;
    &:hover, &:focus {
      text-decoration: underline;
    }
    a {
      color: var.$redColor;
    }
    @media (max-width: var.$md3 + px) {
      text-transform: uppercase;
    }
    &-active {
      text-decoration: underline;
    }
  }
}