@use '../../styles/variables.scss' as var;
@import '../../styles/mixins.scss';

.header {
  height: 171px;
  background-color: var.$whiteColor;
  color: var.$redColor;
  &__container {
  line-height: 120%;
    @include adaptiv-value("font-size", 24, 12, 1);
  }
  &_svg {
  }
  &_link {
    display: flex;
    align-items: flex-end;
  }
}