@use './variables.scss' as var;
@import './null.scss';
@import './mixins.scss';

body {
	color: var.$blackColor;
	font-family: var.$fontFamily;
	&._lock {
		overflow: hidden;
	}
}
//===========================================================================================================
.root {
	height: 100%;
}

.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
//===========================================================================================================
._container {
	max-width: var.$maxWidthContainer + px;
	margin: 0 auto;
	width: 100%;
	@media (max-width: var.$md1+px) {
		max-width: 970px;
		padding: 0 20px;
	}
	@media (max-width: var.$md2+px) {
		//max-width: 750px;
		max-width: 760px;
	}
	@media (max-width: var.$md3+px) {
		max-width: none;
	}
}
//====================================================================================================
//====================================================================================================
.page {
	flex: 1 1 auto;
	line-height: 140%;
}
