@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

$fontFamily: 'Montserrat', sans-serif;
$fontSizeSmall: 18px;
$fontSize: 24px;
$fontSizeTitle: 36px;
$fontSizeMobile: 12px;
$fontRegular: 400;
$fontMedium: 500;
$fontBold: 700;

//<VARIABLES>==========================================================================================================
$minWidth: 320px;
$maxWidth: 1440;
$maxWidthContainer: 1240;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
$md5: 349.98;

$blackColor: #000000;
$whiteColor: #FFFFFF;
$greyColor: #F7F7F7;
$redColor: #FF6060;
$redColorHover: #df3c3c;
//===============================================================================================