$fontFamily: 'Montserrat', sans-serif;
$fontSize: 18px;
$fontSizeTitle: 32px;

//<VARIABLES>==========================================================================================================
$minWidth: 320px;
$maxWidth: 1440;
$maxWidthContainer: 1230;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$blackColor: #000;
$whiteColor: #fff;
$backgroundColor: #E5E5E5;
$redColor: #FF6060;
//===============================================================================================